# Python 데이터 분석과 이미지 처리

아래의 영상에서 학습함  
https://www.youtube.com/watch?v=5ZiP4HRFBqU&list=LL&index=1

In [5]:
# df의 마스킹

import numpy as np 
import pandas as pd 

df = pd.DataFrame(np.random.randint(1,10,(2,2)) , index=[0,1], columns=['A','B'])

print(df)

# 컬럼 A의 각 원소가 5보다 작거나 같은지 출력
print(df['A'] <= 5)

# 컬럼 A의 원소가 5보다 작고, 컬럼 B의 원소가 8보다 작은 행 추출
print(df.query('A < 5 & B < 8'))

   A  B
0  6  2
1  3  2
0    False
1     True
Name: A, dtype: bool
   A  B
1  3  2

In [6]:
# df의 개별 연산 1

df = pd.DataFrame([[1,2,3,4],[1,2,3,4]], index = [0,1], columns = ['A','B','C','D'])
print (df)

df = df.apply(lambda x:x+1)
print(df)

def add_one(x):
    return x + 1

df = df.apply(add_one)
print(df)

   A  B  C  D
0  1  2  3  4
1  1  2  3  4
   A  B  C  D
0  2  3  4  5
1  2  3  4  5
   A  B  C  D
0  3  4  5  6
1  3  4  5  6

In [8]:
# df의 개별 연산 2

df = pd.DataFrame([['Apple','Apple','Carrot','Banana'],['Durian','Banana','Apple', 'Carrot']], index = [0,1], columns = ['A','B','C','D'])
print(df)

df = df.replace('Apple','Airport')
print(df)

df = df.replace({'Banana':'Ball'})
print(df)

        A       B       C       D
0   Apple   Apple  Carrot  Banana
1  Durian  Banana   Apple  Carrot
         A        B        C       D
0  Airport  Airport   Carrot  Banana
1   Durian   Banana  Airport  Carrot
         A        B        C       D
0  Airport  Airport   Carrot    Ball
1   Durian     Ball  Airport  Carrot

In [11]:
# df 의 그룹화 1 

df = pd.DataFrame([
    ['Apple', 7, 'Frult'],
    ['Banana', 3, 'Frult'],
    ['Beef', 5, 'Meal'],
    ['Kimchi', 4, 'Meal']] 
    , columns = ['Name', 'Frequency', 'Type']
    )

print(df)

print(df.groupby('Type').sum()) # 그룹화 후 합계
print(df.groupby('Type').mean('Frequency')) # 그룹화 후 평균

     Name  Frequency   Type
0   Apple          7  Frult
1  Banana          3  Frult
2    Beef          5   Meal
3  Kimchi          4   Meal
              Name  Frequency
Type
Frult  AppleBanana         10
Meal    BeefKimchi          9
       Frequency
Type
Frult        5.0
Meal         4.5

In [22]:
# df 의 그룹화 2
import numpy as np

df = pd.DataFrame([
    ['Apple', 7,5, 'Frult'],
    ['Banana', 3,6, 'Frult'],
    ['Beef', 5,2, 'Meal'],
    ['Kimchi', 4,8, 'Meal']] 
    , columns = ['Name', 'Frequency','Importance', 'Type']
    )

print(df)
# print(df.groupby('Type').aggregate([min, max, np.average])) # 그룹화 후 여러 연산 적용 (np.average 에서 오류 발생)

print(df.groupby('Type').agg({'Frequency':'sum', 'Importance':'mean'})) # 그룹화 후 여러 연산 적용

     Name  Frequency  Importance   Type
0   Apple          7           5  Frult
1  Banana          3           6  Frult
2    Beef          5           2   Meal
3  Kimchi          4           8   Meal
       Frequency  Importance
Type
Frult         10         5.5
Meal           9         5.0

In [24]:
# df 의 그룹화 3 

df = pd.DataFrame([
    ['Apple', 7,5, 'Frult'],
    ['Banana', 3,6, 'Frult'],
    ['Beef', 5,2, 'Meal'],
    ['Kimchi', 4,8, 'Meal']] 
    , columns = ['Name', 'Frequency','Importance', 'Type']
    )

def my_filter(x):
    return x['Frequency'].mean() >= 5

print(df)
df = df.groupby('Type').filter(my_filter)
print(df)

     Name  Frequency  Importance   Type
0   Apple          7           5  Frult
1  Banana          3           6  Frult
2    Beef          5           2   Meal
3  Kimchi          4           8   Meal
     Name  Frequency  Importance   Type
0   Apple          7           5  Frult
1  Banana          3           6  Frult

In [25]:
# df 의 그룹화 4

df = pd.DataFrame([
    ['Apple', 7,5, 'Frult'],
    ['Banana', 3,6, 'Frult'],
    ['Beef', 5,2, 'Meal'],
    ['Kimchi', 4,8, 'Meal']] 
    , columns = ['Name', 'Frequency','Importance', 'Type']
    )

df = df.groupby('Type').get_group('Frult')

print (df)

     Name  Frequency  Importance   Type
0   Apple          7           5  Frult
1  Banana          3           6  Frult

In [ ]:
# df 의 그룹화 5

df = pd.DataFrame([
    ['Apple', 7,5, 'Frult'],
    ['Banana', 3,6, 'Frult'],
    ['Beef', 5,2, 'Meal'],
    ['Kimchi', 4,8, 'Meal']] 
    , columns = ['Name', 'Frequency','Importance', 'Type']
    )

df['Gap'] = df.groupby('Type')['Frequency'].transform(lambda x: x - x.mean())
print(df)


# df['Gap'] = df.groupby('Type')['Frequency'].apply(lambda x: x - x.mean()) # apply 에서 오류 발생 
# print(df)

     Name  Frequency  Importance   Type  Gap
0   Apple          7           5  Frult  2.0
1  Banana          3           6  Frult -2.0
2    Beef          5           2   Meal  0.5
3  Kimchi          4           8   Meal -0.5

In [29]:
# df의 다중화 

df = pd.DataFrame(
    np.random.randint(1,10,(4,4)),
    index = [['1차','1차','2차','2차'], ['공격','수비','공격','수비']],
    columns = ['1회','2회','3회','4회']
)

print(df)
print(df[['1회','2회']].loc['2차'])

       1회  2회  3회  4회
1차 공격   3   1   6   2
   수비   4   5   1   1
2차 공격   3   6   6   7
   수비   2   1   2   6
    1회  2회
공격   3   6
수비   2   1

In [30]:
# 피벗테이블의 기초 

df = pd.DataFrame([
    ['Apple', 7,5, 'Frult'],
    ['Banana', 3,6, 'Frult'],
    ['Beef', 5,2, 'Meal'],
    ['Kimchi', 4,8, 'Meal']] 
    , columns = ['Name', 'Frequency','Importance', 'Type']
    )

print(df)
df = df.pivot_table(index='Importance', columns ='Type', values='Frequency', aggfunc=np.max)

print(df)

     Name  Frequency  Importance   Type
0   Apple          7           5  Frult
1  Banana          3           6  Frult
2    Beef          5           2   Meal
3  Kimchi          4           8   Meal
Type        Frult  Meal
Importance
2             NaN   5.0
5             7.0   NaN
6             3.0   NaN
8             NaN   4.0

C:\Users\LEEJEHEON\AppData\Local\Temp\ipykernel_27212\1965891829.py:12: FutureWarning: The provided callable <function max at 0x000001A9FBA78220> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df = df.pivot_table(index='Importance', columns ='Type', values='Frequency', aggfunc=np.max)