# Pandas 라이브러리 학습

아래 경로의 영상에서 학습함  
https://www.youtube.com/watch?v=BZIsxdEybxo&t=324s

In [ ]:
import pandas as pd 

# pandas의 데이터 프레임을 생성

names  = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

BabyDataSet = list(zip(names, births))
df = pd.DataFrame(data=BabyDataSet, columns=['Names', 'Births'])

print (BabyDataSet)

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [ ]:
# df 상단 부분 출력
print(df.head())

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [ ]:
# df 기본 정보 출력

print (df.dtypes) # 열 타입 정보
print ("-----------")
print(df.index) # 인덱스 정보 
print ("-----------")
print(df.columns) # df 열의 형태 정보

Names     object
Births     int64
dtype: object
-----------
RangeIndex(start=0, stop=5, step=1)
-----------
Index(['Names', 'Births'], dtype='object')

In [ ]:
# df의 열 선택

df ['Names']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

In [ ]:
# df의 인덱스 선택

# 0-3번째 인덱스 선택 (행 선택)
df[0:3]

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77

In [ ]:
# 필터링 기능 (조건을 추가하여 선택)

# Births 열이 100보다 큰 데이터를 선택
df[df['Births'] > 100]  # 100보다 큰 경우에만 데이터를 반환

     Names  Births
0      Bob     968
1  Jessica     155
3     John     578
4      Mel     973

In [ ]:
# 평균값 계산
# mean 함수는 각 열들의 데이터 타입을 체크한 뒤, 연산이 가능한 열의 평균값을 반환

# df.mean() <-- 이건 에러 발생함 (문자열 데이터가 있어서)

df.mean(numeric_only=True)

Births    550.2
dtype: float64